.dashboard-badges {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.dashboard-badges > div.single-badge {
    border-radius: 10px;
    padding: 15px;
    margin: 1%;
    width: 46%;
    border: 1px solid #3d4046;
    border-top: 4px solid #4489cb;
}

.dashboard-badges > div.single-badge:hover {
    background: #00000029;
}

.new-badge {
    background: #ffff00de;
    color: black;
    border-radius: 100px;
}



.new-placeholder {
    display: block;
    height: 24px;
    width: 100%;
}