.btn-play {
    width: 92px;
}

.margin-auto {
    margin: auto !important;
}

.navbar-custom {
    display: inline-block;
}

@media screen and (max-width: 992px) {
    .navbar-custom {
        width: 100% !important;
    }
}

.thumb-info-inner .game-name {
    font-size: 12px;
}

.money-earned {
    color: yellow !important;
}

.bonus-icon {
    font-size: 50px;
    color: #ea9c1f;
}