body {
    color: #aaa;
}

#header .header-body {
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.btn-play {
    width: 92px;
}

.margin-auto {
    margin: auto !important;
}

.navbar-custom {
    display: inline-block;
}

@media screen and (max-width: 992px) {
    .navbar-custom {
        width: 100% !important;
    }
}

.thumb-info-inner .game-name {
    font-size: 12px;
}

.money-earned {
    color: yellow !important;
}

.bonus-icon {
    font-size: 50px;
    color: #ea9c1f;
}

.podium {
    margin: 70px auto 50px;
    width: 100%;
    text-align: center;
}

.podium h2 {
    font-size: 50px;
}

.podium > div {
    display: inline-block;
    padding: 10px;
    margin: 0;
    color: white;
    font-weight: bold;
    vertical-align: bottom;
    width: 100px;
}

.podium div.prize {
    text-align: center;
    position: relative;
    top: -40px;
    font-size: 20px;
}

@media screen and (max-width: 370px) {
    .podium > div {
        width: 80px;
    }

    .podium div.prize {
        font-size: 14px;
    }
}

.podium div.number {
    text-align: center;
    font-size: 60px;
}

.podium .place1 {
    height: 150px;
    background-color: gold;
}

.podium .place2 {
    height: 110px;
    background-color: silver;
}

.podium .place3 {
    height: 80px;
    background-color: #a5612a;
}

.color-gold {
    color: gold;
}

.color-silver {
    color: silver;
}

.color-bronze {
    color: #a5612a;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}

.text-blue {
    color: #0088cc !important;
}

.label-blue {
    background-color: #0088cc !important;
    color: #fff !important;
}

.label-pink {
    background-color: #cc00b1 !important;
    color: #fff !important;
}

.little-flag-winners {
    width: 24px !important;
    display: inline-block !important;
}

.valign-top {
    vertical-align: top !important;
}

.valign-bottom {
    vertical-align: bottom !important;
}

.valign-middle {
    vertical-align: middle !important;
}

.avatar-img {
    border-radius: 500px;
    border: 10px solid white;
    margin: auto !important;
}

.avatar-male {
    border-color: #0088cc;
}

.avatar-female {
    border-color: #cc00b1;
}

.user-info-menu .dropdown-mega-sub-nav {
    font-size: 24px;
}

#header .header-nav-main nav > ul li.dropdown.opened > .dropdown-menu {
    margin-left: 0;
}

#header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-nav {
    margin: 0;
}

.user-info-menu .dropdown-mega-sub-nav ul {
    margin-left: 0 !important;
}

.user-info-menu .dropdown-mega-sub-nav li {
    line-height: 40px;
}

.flash-notifier {
    position: fixed;
    width: 300px;
    top: 115px;
    right: 15px;
    z-index: 9999;
}

.white-space-normal {
    white-space: normal !important;
}

.list-group-dark .list-group-item {
    background-color: #1d2127;
    border: 1px solid #2e353e;
}

.list-group-dark a.list-group-item,
.list-group-dark button.list-group-item {
    color: #fff;
}

.list-group-dark .list-group-item.active,
.list-group-dark .list-group-item.active:focus,
.list-group-dark .list-group-item.active:hover {
    background-color: #337ab7;
}

.list-group-dark a.list-group-item:hover,
.list-group-dark a.list-group-item:focus {
    background-color: #383e48;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y, .ps__thumb-y {
    background-color: #4489cb;
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: #1d2127ab;
}